$containerMaxWidth: 1440px;
$containerPadding: 0 30px;

$colorAqua: #008ca1;
$colorDarkAqua: #295185;
$colorLightAqua: #e2ebf1;
$colorLightAqua50: #e2ebf196;
$colorUltraDarkAqua: #0C2F33;
$colorBrown: #978273;
$colorDarkBrown: #3e4152;
$colorBlack: #000;
$colorWhite: #fff;
$colorGray: #E5E5E5;
$colorLightGray: #B1B1B1;
$colorRed: #E33E54;
$colorDarkRed: #AE2236;
$colorOrange: #EA6628;
$gradient: linear-gradient(135deg, rgba(232,250,12,1) 0%, rgba(255,27,36,1) 50%, rgba(48,125,255,1) 100%);