
header.header
  .header__container
    .header__wrapper
      .animate__animated.animate__fadeInRight.animate__delay-1s.logo-box
        img(src="./assets/images/logo.png", alt="logo").header__logo
      .animate__animated.animate__fadeInDown.animate__delay-2s 
        h1.header__title Экскурсии на Пхукете
      .animate__animated.animate__fadeInLeft.logo-box
        img(src="./assets/images/TST-logo.png", alt="logo").header__logo
      