
footer.footer
  .container
    .footer__wrapper
      h2.footer__title Внимание!
      p.footer__descr Важно понимать что мы не можем контролировать погоду. Дождь, ветер и волны это природное явление.
      p.footer__descr Программы организовываются тайскими партнерами с лицензией и страховкой.
      ol.footer__list 
        li.footer__item Все поездки бронируются только по предоплате 100%.
        li.footer__item С некоторых отдаленных пляжей Пхукета имеется доплата, уточняйте заранее.
        li.footer__item При раннем выезде на экскурсии не забудьте накануне вечером, самостоятельно до 18:00 заказать на ресепшен гостиницы завтрак (Breakfast Box – Брекфаст Бокс) на номер комнаты или отдать купон, если вход на завтрак в Вашем отеле по купонам.
        li.footer__item Пожалуйста, поменяйте иностранную валюту на тайские баты заранее, т.к. на многих экскурсионных маршрутах обменных пунктов нет.
        li.footer__item Употребление алкогольных напитков и прием пищи в автобусе запрещены, туристы в нетрезвом состоянии по решению гида в автобус не допускаются. Претензии не принимаются, стоимость не возвращается.
        li.footer__item Употребление алкогольных напитков на территории национальных парков (водных и сухопутных) ЗАПРЕЩЕНО!!! Есть риск нарваться на штраф. Уточняйте у сопровождающего гида.
        li.footer__item При употреблении алкогольных напитков либо наркотических веществ, страховка имеет право отказать в обслуживании и аннулировать страхование в случае возникновения страхового случая. Мы не рекомендуем употреблять алкоголь и наркотики во время экскурсии.
        li.footer__item Беременным, взрослым старше 60 лет, детям до 3 лет, а также людям с проблемами вестибулярного аппарата, проблемами позвоночника и астматикам запрещены поездки на скоростном катере, и на дальние маршруты. В случае утаивания данной информации, ответственность ложится на туриста.
        li.footer__item При отказе от заказанной экскурсии более чем за 24 часа до начала тура возвращается 50% стоимости экскурсии. Чеолан 2 дня - отмена не позднее чем за 72 часа, менее чем за 72 часа 1000 бат за номер.
        li.footer__item При отказе заказанной экскурсии менее чем за 24 часа сутки – стоимость тура не возвращается.
        li.footer__item При отказе от заказанной экскурсии в день выезда – стоимость не возвращается. Перенос только с подтверждения подрядчиков. Подрядчик имеет право запросить дополнительно 50% для перебронирования тура на другой день.
        li.footer__item Перенесенные по вашей просьбе туры на другой день возврату не подлежат. 
        li.footer__item При отказе от авиатуров – стоимость не возвращается ни при каких условиях.
        li.footer__item При отказе от индивидуальной экскурсии – стоимость не возвращается.
        li.footer__item При отказе от экскурсии по болезни возвращается 100% от стоимости (при наличии медицинской справки только из международного ГОСПИТАЛЯ с соответствующей рекомендацией врача и только для заболевшего).
        li.footer__item На морских экскурсиях:
          ul.footer__ul 
            li.footer__ul-item — порядок остановок может меняться во время программы по усмотрению капитана.
            li.footer__ul-item — время остановок является ориентиром и может быть изменено из-за погодных условий.
            li.footer__ul-item — время в пути по морю может быть дольше заявленного в программе при высоких волнах/ветре.
     
